 {% extends 'Main.html' %} 
 {% load humanize %}
{% load static %}

 {% block content %}

    <div class="card-body">
        <h4 class="m-b-20 text-default">Mes evenment</h4>
        
        <div class="profiletimeline">
            <div class="row">
              <!--Debut de Filtre-->            
              <div class="card col-md-3">
                <h2 class="">
                    Filtre<i class="pull-right mdi mdi-filter text-info text-right"></i>
                </h2>
                <hr />
                <br/>
                <div>
                  <h4 class="title">Filtre par Antenne</h4>
                  <form method="get">
                    {{myFilter.form}}
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
            </div>                                   
 
              <!--Fine de Filtre-->

            <div class="card col-md-9">
            
                    {% for Evenment in Evenments %}
                  <div class="card">
                  <div class="card-body">
                              <div class="sl-item">

                <!--<div class="row row-cols-1 row-cols-md-2 g-4">-->
                                  
                                <!--first-->
                                <div class="rounded float-end" >
                                  {% if Evenment.image %}
                                    <img  width="370" src="{{Evenment.image.url}}" alt="{{nomevenment}}">  
                                  {% endif %}

                                </div>                                   
                                <br/> 
                                <div class="sl-right">
                                  <div>
                                    <figure>
                                      <blockquote class="blockquote">
                                        <a href="#" class="link">{{Evenment.nomevenment}}</a>
                                      </blockquote>
                                      <figcaption class="blockquote-footer">
                                        <span class="sl-date">{{Evenment.date_creation|timesince}}</span>
                                      </figcaption>
                                    </figure>
                                    <br/> 
                                      <p class="text-mute m-t-10">{{Evenment.Descriptinos|truncatechars:150}}</p>
                                      <div class="like-comm">
                                        <a href="/List_Evenment/page_Evenment" class="btn btn-info m-r-10">
                                          <i class="fa fa-share"></i>
                                          Show detail{{Evenment.href}}
                                        </a>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        
                        </div>
                        
                  </div>
                  {% empty %}
                  <div class="alert alert-danger" role="alert">
                    <h3> pas d'element </h3>
                  </div>
                  {% endfor %}
                </div>
            </div>

        </div>
      </div>
    </div>


{% endblock %}
