
{% extends 'Main.html' %}  
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}

    
<div class="card-body">
    <h4 class="m-b-20 text-default">Detail evenment</h4>
    <div class="profiletimeline">
        <div class="row">
            <div class="card col-md-9">
              <!--Photo-->
              <div class="card">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    
                      <div class="carousel-item active">
                          {% if Detials.image %}
                            <img width='1000' height='500' src="{{Detials.image.url}}" alt="{{nomevenment}}">  
                          {% else %}
                            <img width='1000' height='500' src="default.jpg" alt="{{nomevenment}}">
                          {% endif %}
                      </div>
                  </div>
                </div>
              </div>
              <!--END Photo -->

        <div class="sl-right">
                <hr/>
                <hr/>
                <!--Nome & Date Evenment-->

                  <figure>
                    <blockquote class="blockquote">
                      <mark> <a href="#" class="link">{{Detials.nomevenment}}</a></mark>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      <span class="sl-date">date:{{Detials.date_creation_evenment|timesince}}</span>
                    </figcaption>
                  </figure>
                    <!--END Nome & Date -->

                <hr/>

                    <!--Descriptinos-->
                <div>
                    <h3>Descriptinos</h3>
                    <br/> 
                        {{Detials.Descriptinos}}
                </div>
                <!--END DESCRIPTINOS-->

                <hr/>

                <!--Les information de l'evenment-->
                <div>
                </div>
              <!-- END  information de l'evenment-->
              <hr/>
                <!-- debut de bar de list de evenment suivent-->
                
                <!--End list evenment suivent-->
                <br/>
                <br/>
                <br/>
              <!-- Debut de Code Comments-->


              <h2 class="border-bottom">Les Commentair ({{comment.count}})</h2>
              
                  {% for comment in comments %}
                    <div class="card">
                      
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p>{{comment.content}}</p>
                          <footer class="blockquote-footer">{{comment.Comment_date|date:'d-m-Y'}}</footer>
                        </blockquote>
                      </div>
                    </div>
                  {% empty%}
                    <div class="text-center mb-3 p-4 comment">
                      <div class="alert alert-dark" role="alert">
                          <h5 class="mb-0">n'est pas des Commentair</h5>
                      </div>
                    </div>
                  {% endfor %}
                  <br/>
                  <div class="border-bottom pb-3 mb-3 mt-5">
                      <h3 class="border-bottom pb-3 mb-5">Ajouter un nouveau commentaire</h3>
                        <form method="POST">
                          {% csrf_token %}
                          {{comment_form|crispy}}
                          <button class="btn btn-outline-success " type="submit">Send</button>
                        </form>
                  </div> 
                  
              <!-- Fine code Comments-->

                <!--MAP-->
                <div class="example-container">
                  <div class="example-content-secondary">
                    <a src="https://maps.google.com/maps?q=Chlef&t=&z=13&ie=UTF8&iwloc=&output=embed"></a>
                  </div>
            </div>
                <!--End MAP -->

          </div>
    </div>
<!--Debut de bar d'information-->
<div class="card col-md-3">
  <h2 class="m-t-10 text-info">
    <br/>
    <blockquote class="blockquote">
      <a href="#" class="link">{{Detials.nomevenment}}</a>
    </blockquote>
  </h2>
  <br/>
      <br/>
      <br/>
      <br/>
  <hr/>
    <figcaption class="blockquote-footer">
      <span class="sl-date">date_creation_evenment:{{Detials.date_creation_evenment|timesince}}</span>
    </figcaption>
    <figcaption class="blockquote-footer">
      <span class="sl-date">date_fine_evenment:{{Detials.date_fine_evenment}}</span>
    </figcaption> 
    <figcaption class="blockquote-footer">
      <span class="sl-date">country:{{Detials.country}}</span>

    </figcaption>  
    <hr />
  <div class="d-grid gap-2">
    <button class=" btn btn-outline-success" type="button"><i class="bi bi-plus-square"></i> S'inscrire</button>
  </div>
<br/>
  <div class="container">
    <div class="row">
      <div class="col order-last">
        <a href="#" class="link"><i class="bi bi-send"></i> Send</a>
      </div>
      <div class="col">
        <a href="#" class="link"><i class="bi bi-"></i> Second</a>

        
      </div>
      <div class="col order-first">
        <a href="" class="link"> <i class="bi bi-heart"></i>Follow</a>
      </div>
    </div>
  </div>
  <hr/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  <!--Google map-->
  <a href="" class="link-success">View map</a><br/>
  <div id="map-container-google-2" class="z-depth-1-half map-container-3" style="height: 500px">
    <iframe src="https://maps.google.com/maps?q=Chlef&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
<!--Google Maps-->
</div>

<!--Fine de bar d'information-->

          
    </div>
</div>

{% endblock %} 


