{% extends 'Main.html' %} 


{% block content %}
<center>
    <h1>login</h1>
    <h2>{{ error }}</h2>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {% comment %} <label for="exampleInputEmail1" class="form-label">Email address</label> {% endcomment %}
            <input type="email" name="email" placeholder="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            {% comment %} <label for="exampleInputPassword1" class="form-label">Password</label> {% endcomment %}
            <input type="password" name="password" placeholder="password"  class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button><br/>
        <h4> Vous n'avez pas de compte? click <a href="/sigin">Sigin</a></h4>
    </form>
</center>
{% endblock %}
